.sql-info {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 16px;
}

.current-page {
    color: #333;
}

.original-price {
    color: #999;
}
