.sql-info {
    display: none;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 16px;
}

h1 input {
    font-size: inherit;
    font-weight: inherit;
    padding: 10px;
    vertical-align: inherit;
    width: inherit;
}

.current-page {
    color: #333;
}

.original-price {
    color: #999;
}
